/*
    Autor= Guillermo Daniel Cruz Ortega
    Fecha creacion= 19/04/2022
    Fecha actualizacion= 10/05/2022
    Descripcion= Estilos css de tablas y body
*/
/*Estilo tabla*/
section.forma_tabla{
    width: 70%;
    margin: auto;
    padding: 0px 10px;
    background-color: #245c85;
}
table tr:hover {
    background: #fff;
    cursur: pointer;
}
table {
    border-collapse: collapse;
    width: 100%;
}

th, td {
    text-align: left;
    padding: 8px;
}
tr:nth-child(even) {
    background-color: #999;
}
